@font-face {
    font-family: machine-std;
    src: url(./fonts/MachineStd.otf);
}
body{
    font-family: machine-std;
    box-sizing: content-box;
    background-color: blanchedalmond;
}
a:link, a:visited {
    color: #FFA903;
}
header, nav{
    background-color: #0E3FA9;
}
header > p {
    margin-left: 10px;
    margin-right: 10px;
}
#main-content{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 75px;
}
#blockblunder_logo{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30%;
    height: fit-content;
    
}
#bottom-content, #about-section, #movies {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-top: 10px;
}
#movies {
    width: 80%;
}

@media screen and (max-width: 1000px) {
    #main-content{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 225px;
    }
}