@font-face {
    font-family: machine-std;
    src: url(./fonts/MachineStd.otf);
}
body{
    font-family: machine-std;
    box-sizing: content-box;
    background-color: blanchedalmond;
}
a:link, a:visited {
    color: #FFA903;
}
header{
    background-color: #0E3FA9;
}
header > p {
    margin-left: 10px;
    margin-right: 10px;
}
#main-content{
    display: flex;
    flex-direction: column;
}
#blockblunder_logo{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 10px;
    height: fit-content;
    
}
